<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Расширенный поиск</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <main>
        <div class="menu">
            <a class="menu_but" href="/">Главная</a>
            <a class="menu_but" href="/Advanced_Search">Расширенный поиск</a>
            <a class="menu_but" href="/DZ">Дз ;)</a>
        </div>
        <div class="Advanced_Search">
            <h3>Расширенный поиск</h3>
            <br>
            <form method="POST" action="/Advanced_Search">
                <span>Введите названия фильма</span><br>
                <input name="name_film" class="search_field" type="text" placeholder="-">
                <br>
                <span>Введите названия страны</span><br>
                <input name="country_film" class="search_field" type="text" placeholder="-">
                <br>
                <span>Выберите жанр(ы) фильма</span><br>
                <select class="search_data" name="genre">
                    {% for genre in genre_list %}
                    <option value="{{ genre }}">{{ genre }}</option>
                    {% endfor %}
                </select>
                <br>
                <span>Выберите рейтинг фильма</span><br>
                <select class="search_data" name="rating">
                    <option>Любой</option>
                    <option value="G">G</option>
                    <option value="PG">PG</option>
                    <option value="PG-13">PG-13</option>
                    <option value="R">R</option>
                    <option value="NC-17">NC-17</option>
                </select>
                <br>
                <span>Дата</span><br>
                <input class="search_data" type="text" placeholder="C" name="release_year_one"><input class="search_data" type="text" placeholder="ПО" name="release_year_two">
                <br>
                <input style="margin: 0.5%" type="checkbox">Сериал&nbsp;&nbsp;&nbsp;&nbsp;&nbsp<!-- Я в начале думал margin попробовать но он немного не так тут работает, еще думал изспользовть свойство display: block но не стал -->
                <input style="margin: 0.5%" type="checkbox">Фильм
                <br>
                <button class="search_data" type="submit">Поиск</button>
            </form>
        </div>
        {% for key, value in search.items() %}
        <div class="content">
            <div class="img_film">
                <img src="../static/img/film.png">
            </div>
            <div class="text">
                <b>Название:</b> {{ value.title }}<br>
                <b>Страна производства:</b> {{ value.country }}<br>
                <b>Дата выпуска:</b> {{ value.release }}<br>
                <b>Жанр:</b> {{ value.genre }}<br>
                <b>Рейтинг:</b> {{ value.rating }}<br>
                <b>Описание:</b> {{ value.description }}
            </div>
        </div>
        {% endfor %}
    </main>
</body>
</html>