<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Расширенный поиск</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <main>
        <div class="menu">
            <a class="menu_but" href="/">Главная</a>
            <a class="menu_but" href="/Advanced_Search">Расширенный поиск</a>
            <a class="menu_but" href="/DZ">Дз ;)</a>
        </div>
        <div class="content">
            <div class="block_film">
                <img style="margin-right:1%" src="../static/img/film.png">
                описания фильма<br>
                описания фильма<br>
                описания фильма
            </div>
        </div>
    </main>
</body>
</html>