<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Расширенный поиск</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <main>
        <div class="menu">
            <a class="menu_but" href="/">Главная</a>
            <a class="menu_but" href="/Advanced_Search">Расширенный поиск</a>
            <a class="menu_but" href="/movie">Дз ;)</a>
        </div>
        {% for key, value in search.items() %}
        <div class="content">
            <div class="img_film">
                <img src="../static/img/film.png"><!--Что бы было по красивей сделал что то типо общего превью, хотя оно совсем некрасивое)-->
            </div>
            <div class="text">
                <b>Название:</b> {{ value.title }}<br>
                <b>Страна производства:</b> {{ value.country }}<br>
                <b>Дата выпуска:</b> {{ value.release }}<br>
                <b>Жанр:</b> {{ value.genre }}<br>
                <b>Описание:</b> {{ value.description }}
            </div>
        </div>
        {% endfor %}
    </main>
</body>
</html>